:root {
	--purple: #854dff;
	--light-red: hsl(0, 100%, 67%);

	--off-white: #f0f0f0;
	--white: #ffffff;
	--smokey-gray: #716f6f;
	--light-gray: #dbdbdb;
	--off-black: #141414;
}

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

main {
	align-items: center;
	background-color: var(--off-white);
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

/* - - - - - - - - - - - - - - - - - - - - card - - - - - - - - - - - - - - - - - - - - */
.card {
	background-color: var(--white);
	border-radius: 24px 24px 200px;
	min-width: 343px;
	padding: 56px;
	width: 840px;
}

@media (max-width: 750px) {
	.card {
		padding: 48px 24px;
		width: 91.4%;
	}
}

@media (max-width: 600px) {
	.card {
		border-radius: 24px 24px 100px;
	}
}

@media (max-width: 350px) {
	.card {
		min-width: 320px;
		padding: 40px 10px;
	}
}

/* - - - - - - - - - - - - - - - - - - - - form - - - - - - - - - - - - - - - - - - - - */
.form {
	display: flex;
	flex-direction: row;
	gap: 32px;
}

.form__section {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.form__label {
	color: var(--smokey-gray);
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 25%;
}

.form__label--error {
	color: var(--light-red);
	font-size: 0.875rem;
	font-weight: 700;
}

.form__input {
	border: none;
	border: 1px solid #15151540;
	border-radius: 8px;
	color: var(--off-black);
	font-size: 2rem;
	height: 72px;
	padding: 12px 24px;
	width: 160px;
}

.form__input::placeholder {
	color: #15151580;
}

.form__input:focus {
	border: 1px solid var(--purple);
	outline: none;
}

.form__input--error {
	border: 1px solid var(--light-red);
}

@media (max-width: 750px) {
	.form__input {
		font-size: 1.5rem;
		padding: 12px 16px;
		width: 140px;
	}
}

@media (max-width: 600px) {
	.form {
		gap: 16px;
	}

	.form__label,
	.form__label--error {
		font-size: 0.75rem;
	}

	.form__input {
		font-size: 1.25rem;
		width: 110px;
	}
}

@media (max-width: 450px) {
	.form__input {
		width: 87.67px;
	}
}

/* - - - Removing buttons on inputs - - - */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	appearance: textfield;
}

.form__input--error-msg {
	color: var(--light-red);
	font-size: 0.875rem;
	font-style: italic;
	font-weight: 400;
}

/* - - - - - - - - - - - - - - - - - - - - division  - - - - - - - - - - - - - - - - - - - - */
.division {
	background: url('/line.webp');
	background-position: center;
	background-repeat: repeat-x;
}

.division__button {
	background-color: var(--purple);
	border: none;
	border-radius: 50%;
	display: block;
	height: 96px;
	margin-left: auto;
	width: 96px;
}

.division__button:hover {
	background-color: var(--off-black);
	cursor: pointer;
}

.division-icon {
	color: var(--purple);
}

@media (max-width: 750px) {
	.division {
		margin-top: 32px;
	}
}

@media (max-width: 600px) {
	.division__button {
		height: 64px;
		margin: 0 auto;
		width: 64px;
	}

	.division-icon {
		height: 24px;
		width: 24px;
	}
}

/* - - - - - - - - - - - - - - - - - - - - results - - - - - - - - - - - - - - - - - - - - */
.results-section {
	display: flex;
	gap: 8px;
}

.results-section__result {
	color: var(--purple);
	font-size: 6.5rem;
	font-style: italic;
	font-weight: 800;
	line-height: 110%;
}

.results-section__label {
	color: var(--off-black);
	font-size: 6.5rem;
	font-style: italic;
	font-weight: 800;
	line-height: 110%;
}

@media (max-width: 750px) {
	.results-section__result,
	.results-section__label {
		font-size: 5.5rem;
	}
}

@media (max-width: 600px) {
	.results {
		margin-top: 32px;
	}

	.results-section__result,
	.results-section__label {
		font-size: 4rem;
	}
}

@media (max-width: 450px) {
	.results-section__result,
	.results-section__label {
		font-size: 3.4rem;
		letter-spacing: -0.6px;
	}
}
